/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Basic reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set project wide font definitions */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

/* Body dimension settings */

body {
  padding: 30px;
}

.header {
  height: 95vh; 
  background-image: linear-gradient(to bottom left, #7ed56faa, #28b485aa), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.header_text {
  position: absolute;
  text-transform: uppercase;
  color: #FFF;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header_text_main {
  display: block;
  font-size: 66px;
  font-weight: 400;
  letter-spacing: 40px;
  line-height: 2;
  animation: 1s ease-in slideFromLeft;
} 

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header_text_secondary {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 20.5px;
  transform: translateX(4px);
  animation: 1s ease-in slideFromRight;
}
